<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Season Manager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
  <ion-card *ngFor="let season of seasonList">
    <ion-item>
      <ion-icon slot="start" name="pin"></ion-icon>
      <ion-label>{{season.year}} {{season.gameTitle}}</ion-label>
      <ion-buttons slot="end">
        <ion-button [routerLink]="'/private/seasonedit/'+season.year" [routerDirection]="'forward'">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
        <ion-button (click)="presentAlertConfirmDelete(season)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="solid" color="primary" [routerLink]="'/private/seasonadd/'" [routerDirection]="'forward'">
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
        Add season
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
