<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Match scouting
            <!-- - Match no: {{MatchNum}} Team: {{TeamNum}} Scout: {{actScoutName}}-->
          </ion-title>
        </ion-toolbar>
      </ion-col>
      <ion-col size="2">
        <ion-item lines="none">
          <ion-label>Match Number</ion-label>
          <ion-select name="MatchNum" interface="popover" [(ngModel)]="selectedMatch" (ionChange)="onChangeMatch()">
            <ion-select-option *ngFor="let match of matchesArr; let i=index;" [value]="i">
              Q{{match.matchNo}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item lines="none">
          <ion-label>Team Number</ion-label>
          <ion-select name="TeamNum" interface="popover" [(ngModel)]="TeamNum">
            <ion-select-option></ion-select-option>
            <ion-select-option *ngFor="let team of matchTeamsList" value="{{team}}">{{team}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-item lines="none">
          <ion-label>Student Name</ion-label>
          <ion-select name="Scout" interface="popover" [(ngModel)]="actScoutId" (ionChange)="updateScoutName()">
            <ion-select-option *ngFor="let scout of scouts" value="{{scout.scout_id}}">{{scout.firstname}}
              {{scout.lastname}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size=2>
        <ion-button (click)="loadScoutData()" [disabled]="MatchNum==0 || TeamNum==0 || actScoutId==0">
          Select match
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content *ngIf="displayQuestions" padding>
  <ion-grid>
    <ion-row justify-contex-center>
      <ion-col size="3">
        <h1>SandStorm</h1>
      </ion-col>
      <ion-col size="3">
        <h1>Teleop</h1>
      </ion-col>
      <ion-col size="3">
        <h1>End Game</h1>
      </ion-col>
      <ion-col>
        <h1>Notes</h1>
      </ion-col>
    </ion-row>
    <ion-row justify-contex-center>
      <ion-col size="3">
        <ion-item *ngFor="let question of questions.Sandstorm; let i=index;">
          <ion-label position="stacked" text-wrap>{{question.questionText}}</ion-label>
          <!-- Type 0 = text input field -->
          <ion-input *ngIf="question.questionType === 0" [(ngModel)]="question.answer" type="text"
            name="{{question.id}}"></ion-input>
          <!-- Type 1 = number input with +/- buttons -->
          <ion-button slot="start" *ngIf="question.questionType === 1" (click)="valueMinus(0,i)" size="default">
            <ion-icon name="remove-circle"></ion-icon>
          </ion-button>
          <ion-input *ngIf="question.questionType === 1" [(ngModel)]="question.answer" name="{{question.id}}"
            type="text" size="3"></ion-input>
          <ion-button slot="end" *ngIf="question.questionType === 1" (click)="valuePlus(0,i)" size="default">
            <ion-icon name="add-circle"></ion-icon>
          </ion-button>
          <!-- Type 2 = selection list -->
          <ion-select *ngIf="question.questionType === 2" [(ngModel)]="question.answer" name="{{question.id}}"
            interface="popover">
            <ion-select-option *ngFor="let questionItem of question.questionItems" value="{{questionItem.value}}" [selected]="questionItem.value==question.answer">
              {{questionItem.itemText}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="3">
        <ion-item *ngFor="let question of questions.Teleop; let i=index;">
          <ion-label position="stacked" text-wrap>{{question.questionText}}</ion-label>
          <!-- Type 0 = text input field -->
          <ion-input *ngIf="question.questionType === 0" [(ngModel)]="question.answer" type="text"
            name="{{question.id}}"></ion-input>
          <!-- Type 1 = number input with +/- buttons -->
          <ion-button slot="start" *ngIf="question.questionType === 1" (click)="valueMinus(1,i)" size="default">
            <ion-icon name="remove-circle"></ion-icon>
          </ion-button>
          <ion-input *ngIf="question.questionType === 1" [(ngModel)]="question.answer" name="{{question.id}}"
            type="number" min="0"></ion-input>
          <ion-button slot="end" *ngIf="question.questionType === 1" (click)="valuePlus(1,i)" size="default">
            <ion-icon name="add-circle"></ion-icon>
          </ion-button>
          <!-- Type 2 = selection list -->
          <ion-select *ngIf="question.questionType === 2" [(ngModel)]="question.answer" name="{{question.id}}"
            interface="popover">
            <ion-select-option *ngFor="let questionItem of question.questionItems" value="{{questionItem.value}}">
              {{questionItem.itemText}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="3">
        <ion-item *ngFor="let question of questions.EndGame; let i=index;">
          <ion-label position="stacked" text-wrap>{{question.questionText}}</ion-label>
          <!-- Type 0 = text input field -->
          <ion-input *ngIf="question.questionType === 0" [(ngModel)]="question.answer" type="text"
            name="{{question.id}}"></ion-input>
          <!-- Type 1 = number input with +/- buttons -->
          <ion-button slot="start" *ngIf="question.questionType === 1" (click)="valueMinus(2,i)" size="default">
            <ion-icon name="remove-circle"></ion-icon>
          </ion-button>
          <ion-input *ngIf="question.questionType === 1" [(ngModel)]="question.answer" name="{{question.id}}"
            type="number" min="0"></ion-input>
          <ion-button slot="end" *ngIf="question.questionType === 1" (click)="valuePlus(2,i)" size="default">
            <ion-icon name="add-circle"></ion-icon>
          </ion-button>
          <!-- Type 2 = selection list -->
          <ion-select *ngIf="question.questionType === 2" [(ngModel)]="question.answer" name="{{question.id}}"
            interface="popover">
            <ion-select-option *ngFor="let questionItem of question.questionItems" value="{{questionItem.value}}">
              {{questionItem.itemText}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Notes</ion-label>
          <ion-textarea rows="6" [(ngModel)]="matchNote" placeholder="Match notes on the team"></ion-textarea>
        </ion-item>
        <div class="fixed" scrollY="true">
          <ion-list>
            <ion-item *ngFor="let note of previousMatchNotes">
              <ion-label text-wrap>
                <h3>Match - {{note.matchNo}}</h3>
                <p>{{note.note}}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<footer *ngIf="displayQuestions">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="solid" color="secondary" (click)="save()">Save
        <ion-icon slot="start" name="save"></ion-icon>
      </ion-button>
      <ion-button fill="solid" color="danger" (click)="resetScoutData()">Reset form data
        <ion-icon slot="start" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="solid" color="primary" (click)="saveNext()">Save and Next
        <ion-icon slot="end" name="save"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</footer>