<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Team Manager</ion-title>
  </ion-toolbar>
</ion-header>

<div wrap style="display: flex; flex: 1">
  <ion-content padding style="flex: 1" [scrollY]="true" >
    <ion-card *ngFor="let team of teams">
      <ion-item>
        <b>#{{team.number}}</b> &nbsp;{{team.name}}
        <ion-buttons slot="end">
          <ion-button (click)="editTeam(team)">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>
          <ion-button (click)="deleteTeam(team)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-card>
  </ion-content>

  <ion-content padding style="flex: 1" >
    <form #teamEditForm="ngForm">
      <ion-item>
        <ion-label>Team number</ion-label>
        <ion-input name="TeamNo" type="number" [(ngModel)]="inTeam.number" placeholder="####" minlength="1" maxlength="4" required="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Team BA key</ion-label>
        <ion-input name="ba_key" type="text" [(ngModel)]="inTeam.ba_team_key" placeholder="frcXXXX"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Team name</ion-label>
        <ion-input name="TeamName" type="text" [(ngModel)]="inTeam.name" placeholder="Team name" required="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Team comments</ion-label>
        <ion-textarea name="TeamComments" txpe="text" [(ngModel)]="inTeam.comment"></ion-textarea>
      </ion-item>
      <ion-button expand="full" (click)="saveTeam()" [disabled]="!teamEditForm.form.valid">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
        Add
      </ion-button>
    </form>
  </ion-content>
</div>