.qOk {
    background-color: green;
    color: white;
    font-weight: bold;
}

.qNok {
    background-color: red;
    color: white;
    font-weight: bold;
}


.redAlliance {
    background-color: var(--ion-color-alliancered);
    color: black;
}

.blueAlliance {
    background-color: var(--ion-color-allianceblue);
    color: black;
}