<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/private/eventlist"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="5" size-md="7" size-sm="10">
        <ion-list lines="full">
          <ion-item>
            <ion-label>Event Name</ion-label>
            <ion-input slot="end" type="text" placeholder="Event Name" [(ngModel)]="eventData.name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Blue Alliance Event Key</ion-label>
            <ion-input slot="end" type="text" placeholder="Ex: YYYYabcd" [(ngModel)]="eventData.baEventKey"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Location</ion-label>
            <ion-input slot="end" type="text" placeholder="Event Address" [(ngModel)]="eventData.location"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Event Start Date</ion-label>
            <ion-datetime slot="end" [(ngModel)]="eventData.startDate"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Event End Date</ion-label>
            <ion-datetime slot="end" [(ngModel)]="eventData.endDate"></ion-datetime>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-button (click)="update()" expand="block">Update
    <ion-icon slot="start" name="add"></ion-icon>
  </ion-button>
</ion-footer>

