.matchgrid {
    border: solid;
    --ion-grid-columns: 9;
    --ion-grid-padding: 0;
    padding: 0;
}

.red {
    background-color: var(--ion-color-alliancered);
}

.blue {
    background-color: var(--ion-color-allianceblue);
}

ion-row {
    border: solid;
    border-width: 1px;
}

ion-col {
    text-align: center;
}